# Compiled class files
*.class

# Log files
*.log

# JAR files
*.jar
*.war
*.ear

# Maven target directory
/target/

# IntelliJ IDEA project files
/.idea/
/*.iml
/shelf/
/workspace.xml

# Maven wrapper files
/.mvn/

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml